.homeContainer {
  display: flex;
}

.contact {
  flex: 2;
  background-color: rgb(255, 226, 226);
  height: calc(100vh - 80px);
  -webkit-box-shadow: 8px 1px 12px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 8px 1px 12px 0px rgba(0, 0, 0, 0.55);
}

.contactInfo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.contactInfo input {
  width: 98%;
  height: 43px;
  outline: none;
 
  margin-top: 15px;
  padding-left: 8px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #333;
}



.contactInfo h4 {
  margin-top: 40px;
  font-size: 25px;
  color: #1775ee;
}

.contactInfo span {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

.beginChat {
  flex: 6;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding-left: 45px;
}

.beginChat h2 {
  font-size: 40px;
  margin: 150px 0 40px 0;
  color: #1775ee;
  font-weight: 700;
}

.beginChat input {
  width: 380px;
  height: 46px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 0;
  border: 1px solid #333;
  padding-left: 8px;
}

.beginChat input:focus{
  outline: none;
}

.initializeButtonChat {
  width: 380px;
  height: 46px;
  background-color: #1775ee;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

