.navbarContainer {
  width: 100%;
  height: 80px;
  background-color: #1775ee;

  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbarLeft {
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.navbarRight {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}

.navbarLink {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.navbarButton {
  color: #fff;
  border: none;
  outline: none;
  background-color: #1775ee;
  font-size: 18px;
  cursor: pointer;
}
